<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Learning</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Добавить задачу</label>
            <input v-model="newTodoText" id="new-todo" type="text">
            <button type="submit">Добавить</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
        </ul>
    </div>
    <script>
        Vue.component('todo-item', {
            template: '\
            <li>\
                {{ title }}\
                <button v-on:click="$emit(\'remove\')">Удалить</button>\
            </li>\
            ',
            props: ['title']
        })


        var App = new Vue({
            el: '#app',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Помыть посуду'
                    },
                    {
                        id: 2,
                        title: 'Вынести мусор'
                    },
                    {
                        id: 3,
                        title: 'Подстричь газон'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function() {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })

    </script>
</body>

</html>